<footer class="mt-5 bg-light text-center">
    <div class="container p-2 p-sm-1">
        <section class="">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h3 class="h5 h-sm-6">Jordan Ng</h3>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>This is a simple web application that allows users to manage packages and drivers.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Us</h5>
                    <p class="mb-0">Email: jngg0145&#64;student.monash.edu</p>
                    <p class="mb-0">Student ID: 33787778</p>
                    <p class="mb-0">Phone: 040342322</p>
                    <p class="mb-0">Address: 58 College Walk</p>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 PDMA. All rights reserved.
    </div>
</footer>
