

<div class="container mt-5 pt-5 pb-5 mb-5">
    <h1 class="text-center">PACKAGE DELIVERY MANAGEMENT APPLICATION</h1>

        <div class="row mb-3 mt-5">
            <div class="col-sm-6 pb-3 d-flex justify-content-center">
                <a routerLink="/list-package" class="btn btn-outline-primary">View Packages</a>
            </div>
            <div class="col-sm-6 pb-3 d-flex justify-content-center">
                <a routerLink="/list-driver" class="btn btn-outline-primary">View Drivers</a>
            </div>

            <div class="col-sm-6 pb-3 d-flex justify-content-center">
                <a routerLink="/add-package" class="btn btn-outline-primary">Add package</a>
            </div>

            <div class="col-sm-6 pb-3 d-flex justify-content-center">
                <a routerLink="/add-driver" class="btn btn-outline-primary">Add driver</a>
            </div>

            <div class="col-sm-6 pb-3 d-flex justify-content-center">
                <a routerLink="/delete-package" class="btn btn-outline-primary">Delete package</a>
            </div>

            <div class="col-sm-6 pb-3 d-flex justify-content-center">
                <a routerLink="/delete-driver" class="btn btn-outline-primary">Delete Driver</a>
            </div>
        </div>
</div>